<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

    <link rel="stylesheet" href="css/style.css" />
</head>

<body>

    <div id="app">

<div class="container">
            <div class="slider-wrapper" tabindex="0">
                         
                <div class="item">
                    <!-- da vedete alt perchè con item.title non mostra il nome -->
                    <!-- ho dovuto aggiungere l'id nell array perchè non riuscivo a prendere il numero dell'iterazione -->
                    <img v-for="immagine in slides" :src="immagine.image" :id="immagine.id" alt=""  />
                    <div class="text">
                         
                        <!-- <h3>{{item.title}}</h3> -->
                        <p>
                            <!-- {{item.text}} -->
                        </p>
                    </div>
                </div>

                <div class="thumbs">
                    <div class="prev" @click="slideUp"></div>
                    <div class="next"></div>
                    <div class="thumb" v-for="thumb in slides">
                        <img :src="thumb.image" alt="" />
                    </div>
                  
                </div>

            </div>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>

</html>